/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Contenitore delle righe */
.container{
  margin: 0 auto;
  width: 1200px;
}
/* righe */
.row{
  background: white;
  margin-bottom: 15px;
}
/* box dentro le righe */
.box{
  width: 33%;
  background: #eee;
  display: inline-block;
  text-align: center;
  position: relative;
}
/* Timbro sconto */
.sconto{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
}
/* Sconto rosso sulla prima riga */
.row:first-child .box:nth-child(2) .sconto{
  background: red;
}
/* Sconto rosso sulla seconda riga */
.row:last-child .box:nth-child(2) .sconto{
  background: red;
}
/* Foto */
.photo{
  position: relative;
  top: 20%;
}
/* Cuore nascosto */
.cuore{
  color: red;
  font-size: 34px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: none;
}
/* Mostra Cuore */
.box:hover .cuore{
  display: block;
}
